h1 {
    font-size: 1000px;
}

#clearBtn {
    display: none;
    margin-top: 10px;
}

#dataContainer {
    height: 600px;
    background-color: rgb(27, 86, 250, 0.3);
    border-radius: 20px;
}

#dataContainer p {
    color: black;
    font-size: 25px;
}

card {
    background-color: rgba(250, 72, 27, 0.3);
}
.city {
    display: block;
    width: 100%;
}
